/* .name to define css of classes */
.flex-container {
    /* to use flexbox, must have the display:flex line */
    display:flex;
    flex-direction:row-reverse;

}

.form {
    margin: 15px;
}

.image {
    display:flex;
    flex-wrap:wrap;
    border-radius: 8px;
    width: 20vw;
    height: 10vw;
}

.button {
    background-color: aliceblue;
    outline: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:10vw;
    margin: 20px;
}

.text{
    color:red;
    font-family: 'Courier New', Courier, monospace;
}

/* #name to define css of ids */
#iframe {
    width:50vw;
}
